SECRET_KEY=
DEBUG_DJANGO=True
ENVIRONMENTDEV=DEVELOPE
ALLOWED_HOSTS=localhost,0.0.0.0

POSTGRES_HOST=booking_psql
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=bookingdb

CORS_ORIGIN_WHITELIST=http://localhost:3000

REDIS_CACHE_LOCATION=redis://booking_redis:6379/0

BASE_URL_SWAGGER=http://localhost:5000/

RATELIMIT_ENABLE=True

BACKEND_URL_ADDRESS=http://localhost:5000

FRONT_BASE_URL=http://localhost:3000

PUBLIC_VAPID_KEY=
PRIVATE_VAPID_KEY=

ALLOWED_IP_LOCAL_REQUEST=

EXPIRE_TOKEN_WHEN_USER_ACTIVE=False

RESET_PASSWORD_URL=auth/password/reset

CELERY_BROKER_URL=redis://booking_redis:6379
CELERY_RESULT_BACKEND=redis://booking_redis:6379
CELERY_INSPECT_TIMEOUT=1

FILE_DIR=/api/file/upload
FILES_DOWNLOAD_BASE_URL=http://localhost:5000/api/file/upload

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SENDER=Booking Platform

MONGODB_DATABASES_DATABASE_HOST=booking_mongo
MONGODB_DATABASES_DATABASE_PORT=27017
MONGODB_DATABASES_DATABASE_NAME=bookingdb
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_SEARCH_CACHE=24

HOTELBEDS_BASE_URL=https://api.test.hotelbeds.com
HOTELBEDS_API_KEY=
HOTELBEDS_SECRET=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_BASE_URL=https://api.stripe.com
STRIPE_WEBHOOK_SECRET_KEY=

REDIS_HOST=booking_redis
REDIS_PORT=6379

HOTEL_FEE_PERCENTAGE=15
CAR_FEE_PERCENTAGE=0

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DISCOVERY_URL=https://accounts.google.com/.well-known/openid-configuration
OAUTHLIB_INSECURE_TRANSPORT=1
GOOGLE_ID_TOKEN_INFO_URL=https://www.googleapis.com/oauth2/v3/tokeninfo
GOOGLE_ID_USER_INFO_URL=https://www.googleapis.com/oauth2/v1/userinfo